/* -------------------------------------------------------------------------- */
/*                                 custom css                                 */
/* -------------------------------------------------------------------------- */

::-moz-selection {
    /* Code for Firefox */
    background: red;
    color: white;
}

::selection {
    background: red;
    color: white;
}

/* mobile nav css  */
.mobile-nav-area {
    clip-path: circle(28px at 90% 53px);
    overflow: hidden;
}
.mobile-nav-area.hide {
    animation: mobilenavhide;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}
.mobile-nav-area ul {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.mobile-nav-area.show {
    animation: mobilenavshow;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}
@keyframes mobilenavshow {
    0% {
        clip-path: circle(3.6% at 93.5% 9.1%);
    }
    20% {
        clip-path: circle(25.5% at 95% 9%);
    }
    40% {
        clip-path: circle(50.5% at 95% 9%);
    }
    60% {
        clip-path: circle(80.7% at 95% 9%);
    }
    80% {
        clip-path: circle(106.1% at 95% 9%);
    }
    100% {
        clip-path: circle(131.4% at 95% 9%);
    }
}
@keyframes mobilenavhide {
    100% {
        clip-path: circle(3.6% at 93.5% 9.1%);
    }
    80% {
        clip-path: circle(25.5% at 95% 9%);
    }
    60% {
        clip-path: circle(50.5% at 95% 9%);
    }
    40% {
        clip-path: circle(80.7% at 95% 9%);
    }
    20% {
        clip-path: circle(106.1% at 95% 9%);
    }
    0% {
        clip-path: circle(131.4% at 95% 9%);
    }
}

.mobile-nav-area.show ul {
    opacity: 1;
    visibility: visible;
}
/* mobile nav css  */
/* ------------------------------ water effect ------------------------------ */
.water-effect {
    position: relative;
}

.water-effect h1 {
    position: absolute;
    top: 0;
    right: 0;
}

.water-effect h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #eae8e8;
}

.water-effect h1:nth-child(2) {
    color: #ff0000;
    -webkit-text-stroke: 1px #ff0000;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
            0% 44%,
            9% 38%,
            22% 42%,
            32% 48%,
            43% 57%,
            55% 64%,
            73% 65%,
            85% 60%,
            91% 54%,
            95% 46%,
            100% 38%,
            100% 100%,
            0% 100%
        );
    }
    25%,
    75% {
        clip-path: polygon(
            0% 44%,
            9% 45%,
            19% 45%,
            31% 46%,
            44% 46%,
            55% 46%,
            68% 47%,
            77% 47%,
            86% 48%,
            95% 46%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }

    75% {
        clip-path: polygon(
            0% 44%,
            9% 38%,
            21% 31%,
            36% 34%,
            50% 39%,
            57% 50%,
            65% 57%,
            72% 60%,
            84% 60%,
            91% 53%,
            100% 41%,
            100% 100%,
            0% 100%
        );
    }
}
/* ------------------------------ water effect ------------------------------ */

/* play btn css  */
.play-video label {
    position: relative;
    z-index: 4;

    cursor: zoom-in;
}
.play-video span {
    position: absolute;
    border-radius: 50%;
    content: "";
    background: #ff0000;
    z-index: -1;
}
.play-video:hover span:nth-child(1) {
    animation: playbtn 0.5s ease-in-out forwards;
}
.play-video span:nth-child(2) {
    height: 140%;
    width: 140%;
    opacity: 0.7;
    animation: playbtn 1.5s ease-in-out both;
    animation-iteration-count: infinite;
}
@keyframes playbtn {
    0% {
        height: 100%;
        width: 100%;
    }
    100% {
        height: 250%;
        width: 250%;
        opacity: 0;
    }
}
/* play btn css  */

/* ------------------------------ gallery tab starts ------------------------------ */
#gallery-tab li {
    transition: 0.3s;
}
#gallery-tab li.active {
    background-color: #ff0000;
    color: #fff;
    transition: 0.3s;
}
/* ------------------------------ gallery tab ends ------------------------------ */
/* ------------------------------client-carousel starts ------------------------------ */
#client-carousel {
    position: relative;
}
#client-carousel .owl-dots {
    position: absolute;
    width: 100%;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#client-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;

    background-color: #a5a2a2;
    border: 1px solid #a5a2a2;
}
#client-carousel .owl-dots .owl-dot.active {
    background-color: #ff0000;
    border: 1px solid #cc0000;
}
/* ------------------------------ client-carousel ends ------------------------------ */
