/* -------------------------------------------------------------------------- */
/*                                 custom css                                 */
/* -------------------------------------------------------------------------- */

/* ------------------------------ water effect ------------------------------ */
.water-effect {
    position: relative;
}

.water-effect h1 {
    position: absolute;
    top: 0;
}

.water-effect h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ff0000;
}

.water-effect h1:nth-child(2) {
    color: #ff0000;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
            0% 44%,
            9% 38%,
            22% 42%,
            32% 48%,
            43% 57%,
            55% 64%,
            73% 65%,
            85% 60%,
            91% 54%,
            95% 46%,
            100% 38%,
            100% 100%,
            0% 100%
        );
    }
    25%,
    75% {
        clip-path: polygon(
            0% 44%,
            9% 45%,
            19% 45%,
            31% 46%,
            44% 46%,
            55% 46%,
            68% 47%,
            77% 47%,
            86% 48%,
            95% 46%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }

    75% {
        clip-path: polygon(
            0% 44%,
            9% 38%,
            21% 31%,
            36% 34%,
            50% 39%,
            57% 50%,
            65% 57%,
            72% 60%,
            84% 60%,
            91% 53%,
            100% 41%,
            100% 100%,
            0% 100%
        );
    }
}
/* ------------------------------ water effect ------------------------------ */

/* play btn css  */
.play-video span {
    position: relative;
    /* z-index: 4; */
}
.play-video span::after {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    content: "";
    background: #ff0000;
    z-index: -1;
}
.play-video:hover span::after {
    animation: playbtn 0.5s ease-in-out forwards;
}
@keyframes playbtn {
    0% {
        height: 100%;
        width: 100%;
    }
    100% {
        height: 250%;
        width: 250%;
        opacity: 0;
    }
}
/* play btn css  */

/* ------------------------------ gallery tab starts ------------------------------ */
#gallery-tab li {
    transition: 0.3s;
}
#gallery-tab li.active {
    background-color: #ff0000;
    color: #fff;
    transition: 0.3s;
}
/* ------------------------------ gallery tab ends ------------------------------ */
