@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* times new roman  */
@import url("https://fonts.cdnfonts.com/css/times-new-roman");
/* geologica font */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* raleway font  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-heading {
        font-family: "Barlow", "Raleway";
    }

    .font-raleway {
        /* font-family: "Montserrat", sans-serif; */
        font-family: "Raleway", sans-serif;
        @apply font-[400];
    }

    .font-body {
        /* font-family: "Times New Roman", sans-serif; */
        font-family: "Geologica", sans-serif;
        @apply font-[200];
    }

    .text-limit {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* Change the number to set a different maximum number of lines */
        -webkit-box-orient: vertical;
    }

    .text-limit-4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* Change the number to set a different maximum number of lines */
        -webkit-box-orient: vertical;
    }

    .chips {
        @apply relative inline-block select-none whitespace-nowrap rounded-lg py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none text-white;
    }
}
